<h1>Register</h1>
<form action="/register" method="post">
    <input type="text" name="namee" placeholder="Ingrese nombre">
    <input type="text" name="email" placeholder="Ingrese email">
    <input type="text" name="password" placeholder="Ingrese password">
    <button type="submit">Enviar</button>
</form>